In [ ]:
import numpy as np
import pandas as pd

obj = pd.Series([4, 7, -5, 3]) 
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
obj.array

<NumpyExtensionArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [ ]:
obj2= pd.Series([4, 7, -5, 3], index=["a","b","c","d"])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [ ]:
obj2[obj2>0]

a    4
b    7
d    3
dtype: int64

In [ ]:
obj2*2

a     8
b    14
c   -10
d     6
dtype: int64

In [ ]:
"b" in obj2

True

In [ ]:
sdata ={"Ohio":35000, "Texas":71000, "Oregon":16000, "Utah":5000}

In [ ]:
obj3=pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
states=["California", "Ohio", "Oregon", "Texas"]

In [ ]:
obj4=pd.Series(sdata, index=states)

In [ ]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [ ]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [ ]:
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
import pandas as pd

data = {
    "state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
    "year": [2000, 2001, 2002, 2001, 2002, 2003],
    "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.0]
}

frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.0

In [ ]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
frame.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.0

In [ ]:
frame2=pd.DataFrame(data, columns=["year", "state", "pop", "debt"])
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.0  NaN

In [ ]:
frame2["state"]

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [ ]:
frame2.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [ ]:
frame2.loc[2]

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: 2, dtype: object

In [ ]:
frame2["debt"]=np.arange(6)

NameError: name 'np' is not defined

In [ ]:
population={"Ohio":{2000:1.5, 2001:1.7, 2002:3.6},
            "Nevada": {2001:2.4, 2002: 2.9}}

In [ ]:
frame3=pd.DataFrame(population)

In [ ]:
frame3

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9