In [ ]:
import numpy as np
import pandas as pd

obj = pd.Series([4, 7, -5, 3]) 
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
obj.array

<NumpyExtensionArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [ ]:
obj2= pd.Series([4, 7, -5, 3], index=["a","b","c","d"])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [ ]:
obj2[obj2>0]

a    4
b    7
d    3
dtype: int64

In [ ]:
obj2*2

a     8
b    14
c   -10
d     6
dtype: int64

In [ ]:
"b" in obj2

True

In [ ]:
sdata ={"Ohio":35000, "Texas":71000, "Oregon":16000, "Utah":5000}

In [ ]:
obj3=pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
states=["California", "Ohio", "Oregon", "Texas"]

In [ ]:
obj4=pd.Series(sdata, index=states)

In [ ]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [ ]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [ ]:
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
import pandas as pd

data = {
    "state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
    "year": [2000, 2001, 2002, 2001, 2002, 2003],
    "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.0]
}

frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.0

In [ ]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
frame.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.0

In [ ]:
frame2=pd.DataFrame(data, columns=["year", "state", "pop", "debt"])
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.0  NaN

In [ ]:
frame2["state"]

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [ ]:
frame2.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [ ]:
frame2.loc[2]

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: 2, dtype: object

In [ ]:
frame2["debt"]=np.arange(6)

NameError: name 'np' is not defined

In [ ]:
population={"Ohio":{2000:1.5, 2001:1.7, 2002:3.6},
            "Nevada": {2001:2.4, 2002: 2.9}}

In [ ]:
frame3=pd.DataFrame(population)

In [ ]:
frame3

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

In [ ]:
frame3.index.name="years"

In [ ]:
frame3.columns.name = "states"

Traceback (most recent call last):
  File "c:\Users\bugli\.vscode\extensions\ms-python.python-2024.20.0-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1, in <module>
  File "C:\Users\bugli\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\generic.py", line 6204, in __getattr__
    return object.__getattribute__(self, name)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'DataFrame' object has no attribute 'colums'. Did you mean: 'columns'?

In [ ]:
frame3

states  Ohio  Nevada
years
2000     1.5     NaN
2001     1.7     2.4
2002     3.6     2.9

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])

In [ ]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [ ]:
obj2= obj.reindex(["a", "b", "c", "d", "e"])

In [ ]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [ ]:
obj3 = pd.Series(["blue", "purple", "yellow"], index=[0, 2, 4])

In [ ]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [ ]:
obj3.reindex(np.arange(6), method="ffill")

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [ ]:
#creare una serie di 15 numeri random, inserire un valore nullo a 3 indici generati randomicamente, riempirli poi con ffill

data= np.random.randn(15)

#converto dati in serie
serie=pd.Series(data)

#genero indici casuali per i nan
na_indices= np.random.choice(range(15), size=3, replace=False)

#inserisco nan in posizioni casuali
serie[na_indices] = np.nan

#omstra serie con nan
print("serie con NaN:")
print(serie)

#mostra serie dopo ffill
print("serie dopo ffill:")
print(serie.ffill())

serie con NaN:
0    -0.194147
1     0.922684
2     0.268145
3     1.419636
4    -0.056983
5     0.467580
6          NaN
7    -0.581734
8    -0.663783
9     0.498259
10    0.445771
11         NaN
12    0.690406
13    0.052194
14         NaN
dtype: float64
serie dopo ffill:
0    -0.194147
1     0.922684
2     0.268145
3     1.419636
4    -0.056983
5     0.467580
6     0.467580
7    -0.581734
8    -0.663783
9     0.498259
10    0.445771
11    0.445771
12    0.690406
13    0.052194
14    0.052194
dtype: float64

In [ ]:
df= pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=["a", "b", "c", "d"], columns=["one", "two"])

In [ ]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [ ]:
df.sum(axis="columns", skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [ ]:
df.idxmax()

one    b
two    d
dtype: object

In [ ]:
df.idxmin()

one    d
two    b
dtype: object

In [ ]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000